<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% if title %}
        <title>{{ title }} - ECOSMETIC</title>
        {% else %}
        <title>ECOSMETIC</title>
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/staticImages/favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/0f6d18cc83.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        <!-- NAV START -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/staticImages/logo.png') }}" width="auto" height="40" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="" aria-haspopup="true" aria-expanded="false">
                        Category
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" onclick="search_by_category('sk')">Skincare Products</a>
                            <a class="dropdown-item" onclick="search_by_category('m')">Makeups</a>
                            <a class="dropdown-item" onclick="search_by_category('l')">Lipsticks</a>
                            <a class="dropdown-item" onclick="search_by_category('o')">Other</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FAQ</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_product') }}">Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('delete_product') }}">Delete Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% endif %}
                </ul>
                <span class="navbar-icon">
                    <a href="{{ url_for('cart') }}">
                        <b id="cart-total">
                            {% if "total" not in session %}
                            0
                            {% else: %}
                            {{ session["total"] }}
                            {% endif %}
                        </b>
                        <i class="fa fa-shopping-bag fa-2x"></i>
                    </a>
                </span>
            </div>
        </nav>
        <!-- NAV END -->
        <!-- INDEX -->
        {% block content %}{% endblock %}
        <!-- INDEX -->
        <!-- FOOTER START -->
        <div class="d-flex container-fluid footer">
            <div class="d-flex flex-column flex-sm-row container">
                <div class="d-flex flex-row container footer-address">
                    <div class="p-2 d-flex flex-column footer-address-icons">
                        <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="p-2 d-flex flex-column footer-address-text">
                        <b>No. 8, U Kywe Hoe Street, Kyeemyindaing Tsp, Yangon</b>
                        <b>09 695 701908</b>
                        <b>support@company.com</b>
                    </div>
                </div>
                <div class="d-flex flex-row container footer-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d477.4152463380334!2d96.1221213!3d16.810376!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1eb3012e87273%3A0xbd80979a5f22c52e!2sOcean%20Pot!5e0!3m2!1sen!2smm!4v1596343875918!5m2!1sen!2smm" width="400" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="d-flex flex-column container footer-about">
                    <div class="p-2">
                        <b>About the company</b>
                    </div>
                    <div class="p-2">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quaerat corporis nulla eius ipsa veritatis.</p>
                    </div>
                    <div class="p-2 social">
                        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOOTER END -->
    </body>
</html>